<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <h1> Create a Basketball Team!</h1>
 <body>
 <form method="post" action="/team">
    <p> 
        <label for="basketball-team">Team Name</label>
        <input type="text" name="name" /> 
    </p>
    <p>
        <label for="basketball-team">Coach</label>
        <input type="text" name="coach" />
    </p>
    <p>
        <label for="basketball-team">Point Guard</label>
        <input type="text" name="pg" />
    </p>
    <p>
        <label for="basketball-team">Shooting Guard</label>
        <input type="text" name="sg" />
    </p>
    <p>
        <label for="basketball-team">Power Forward</label>
        <input type="text" name="pf" />
    </p>
    <p>
        <label for="basketball-team">Small Forward</label>
        <input type="text" name="sf" />
    </p>
    <p>
        <label for="basketball-team">Center</label>
        <input type="text" name="c" />
    </p>
    <p>
        <input id="Submit" type="submit">
    </p>
</form>


 </body>
</html>


